.dynamic{
	position: relative;
	margin: auto;
	width: 1000px;
	height: 500px;
	background-color: whitesmoke;
	margin-top: 50px;
	
}
.dynamic-body-itell{
	margin: auto;
	margin-top: 50px;
	position: relative;
	left: -17px;
}
.dynamic-body-wetell{
	margin: auto;
	margin-top: 50px;
	position: relative;
	font-size: 10px;
	color: #00d3bb;
}
.tell{
	margin: auto;
	margin-top: 10px;
	position: relative;
	font-size: 10px;
	color: #00d3bb;
}
.dynamic-body-images img{
	width: 200px;
	height: 100%;
}
#dynamic-userlogo{
	border-radius: 50%;
}
#dynamic-username{
	position: relative;
	left: 30px;
	color: #00d3bb;
	font: "arial narrow";
	font-size: 15px;
}
.dynamic-body-text{
	font-size: 15px;
	line-height: 50px;
}
#write-dynamic{
	float: right;
	position: relative;
	right: 150px;
	
}
.dynamic-head{
	position: relative;
	width: 800px;
	height: 100px;
	background-color: whitesmoke;
	margin: auto;
	
}
.dynamic-body{
	position: relative;
	width: 800px;
	height: 400px;
	background-color: whitesmoke;
	margin: auto;
}
.h1{
	position: relative;
	left: 140px;
	
	margin: auto;
}